th{
    padding: 10px 15px;
    margin:0 100px !important;
    border-left: 1px solid #e0e0e0 !important;
    text-align: center !important;

}
td{
    border-left: 1px solid #e0e0e0;
    text-align: center !important;
}

.example-container mat-row:hover , .isActive{
    background-color: #dbdbdb !important;
    cursor: pointer;
}

.example-container{
    max-width: 100%;
    overflow: auto;
}

.example-container .mat-mdc-table {
    width: 100%;
    max-height: 250px;
    overflow: auto;
}




